body {
    margin: 0 auto;
    background-color: white;
    font-family: "Arial", Courier, mono;
}

#wrapper {
    height: auto;
    width: 100%;
}

#header {
    background-color: #00a0d2;
    color: #000000;
    height: 120px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 25px;
    border-color: #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    border-style: solid;
    background-position: 100px, top;
    background-image: url(".././images/raspberry-penguin-152-191477.png");
    background-repeat: no-repeat;
    text-align: center;
}

#footer {
    background-color: #00a0d2;
    color: black;
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-top: 10px;
    border-color: #000000;
    border-top: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-style: solid;
}

.box {
    background-color: #00a0d2;
    border-color: #000000;
    box-shadow: 3px 3px 2px #000000;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    float: left;
    width: 30%;
    height: 350px;
    margin-top: 10%;
}

#links_oben {
    margin-left: 5%;
}

#rechts_oben {
    margin-left: 10%;
}

#links_unten {
    margin-left: 5%;
    margin-bottom: 10%;
}

#rechts_unten {
    margin-left: 10%;
    margin-bottom: 10%;
}

#boxen {
    margin-left: 10%;
    margin-right: auto;
}

a, a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:active, a:hover {
    color: black;
    text-decoration: underline;
}
